body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.web {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    font-family: "Raleway", sans-serif;
        
}

.studio {
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    font-family: "Raleway", sans-serif;
    
}

.menu-nav .link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
        
}

.menu-nav .link:hover {
    color: #404BBF;
}

.menu-nav .link:active {
    color: #404BBF;
}

.page-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
      
}

.page-address .link:hover {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
}

.page-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
        
}

.button-primary {
    color: #FFFFFF;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    
}

.button-primary .link:hover{
    background-color: #404BBF;
}

.section-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
        
}

h3 {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
        
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
        
}


.card {
    background-color: #F4F4FD;
}

.footer {
    background-color: #2E2F42;
}

.text-footer {
    color: #F4F4FD;
}

.studio-footer {
    color: #F4F4FD;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667; 
    font-family: "Raleway", sans-serif;
}